/* input[type=color] {
    width: 5%;
  inline-size: 100px;
 //   padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
     resize: none;
}

input.ng-invalid {
    border: 1px solid red;
  }

  .radio{
padding-left: 20px;
}

  .label{
padding-left: 10px;
} */